# === IDE & tooling caches ===
# Rider caches
CodeChunks.db
SemanticSymbols.db*
.idea/
*.sln.DotSettings.user

# Visual Studio caches / workspace
.vs/
*.user
*.suo

# === Build artifacts & binaries ===
# .NET & Mono
bin/
obj/
*.dll
*.pdb

# General caches & temp
*.cache
*.log
*.tmp

# Android / Unity / Xamarin
*.dex

# Databases
*.db
*.db-shm
*.db-wal

# Other generated/3rd-party artifacts
*.exe
*.so
*.dylib
*.jar
*.class
